<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/adminLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj kod</title>
</head>
<body>
<div class="user-content" layout:fragment="admin-content">
    <form action="# " th:action="@{/admin/add-sms}" th:object="${sms}" method="POST"
          style="margin: 0 auto; width: 50%">
        <h2>Dodawanie SMS</h2>
        <br/>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{content}" th:placeholder="Treść" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{number}" th:placeholder="Numer" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{price}" th:placeholder="Cena" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" value="Submit">Dodaj</button>
        </div>
        <div class="alert alert-success" th:if="${success}">
            <strong>Udało się!</strong> <span> Dodałeś sms do listy</span>
        </div>
        <div class="alert alert-danger" th:if="${error}">
            <strong>Ups!</strong> <span th:text="${error}"></span>
        </div>
    </form>
</div>
</body>
</html>