<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/adminLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stwórz usługę</title>
</head>
<body>
<div class="user-content" layout:fragment="admin-content">
    <form action="#" th:action="@{/admin/add-shop-position}" th:object="${position}" method="POST"
          style="margin: 0 auto; width: 50%">
        <h2>Dodawanie pozycji w sklepie</h2>
        <br/>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{title}" placeholder="Tytuł">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="2" th:field="*{shortDescription}" placeholder="Krótki opis"></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="4" th:field="*{description}" placeholder="Opis"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{transferPrice}" placeholder="Kwota przelewu">
        </div>
        <div class="form-group">
            <select class="form-control" th:field="*{code.id}">
                <option th:each="code : ${codes}"
                        th:value="${code.getId()}"
                        th:text="${code.getContent()} + ' - ' + ${code.getPrice()} + ' zł'"></option>
            </select>
        </div>
        <div class="from-group">
            <div class="form-row">
                <div class="form-group col-md-10">
                    Komendy
                </div>
                <div align="center" class="form-group col-md-2">
                    <button type="submit" class="btn btn-success"
                            name="addCommand">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="form-row" th:each="command, rowStat : *{commands}">
                <div class="form-group col-md-10">
                    <input class="form-control" type="text" th:field="*{commands[__${rowStat.index}__].content}"
                           th:placeholder="Komenda">
                </div>
                <div align="center" class="form-group col-md-2">
                    <button type="submit" class="btn btn-danger"
                            th:value="*{commands[__${rowStat.index}__].id}" name="removeCommand"><i
                            class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th style="width: 90%">Komendy</th>-->
        <!--<th style="width: 10%">-->
        <!--<button type="submit" class="btn btn-success"-->
        <!--name="removeContactPhone">-->
        <!--<i class="fas fa-minus"></i>-->
        <!--</button>-->
        <!--</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="command, rowStat : *{commands}">-->
        <!--<td style="width: 85%">-->
        <!--<input class="form-control" type="text" th:field="*{commands[__${rowStat.index}__].content}"-->
        <!--th:placeholder="Komenda">-->
        <!--</td>-->
        <!--<td style="width: 15%">-->
        <!--<button type="submit" class="btn btn-danger"-->
        <!--th:value="*{commands[__${rowStat.index}__].id}"-->
        <!--name="removeContactPhone">-->
        <!--<i class="fas fa-minus"></i>-->
        <!--</button>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" value="Submit">Stwórz</button>
        </div>
        <div class="alert alert-success" th:if="${successMessage}">
            <strong>Udało się!</strong> <span th:utext="${successMessage}"></span>
        </div>
    </form>
</div>
</body>
</html>