<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stwórz usługę</title>

</head>
<body>
<div class="container cont-view" layout:fragment="content">
    <form action="#" th:action="@{/admin/create-position}" th:object="${position}" method="POST"
          style="margin: 0 auto; width: 50%">
        <h2>Tworzenie usługi w sklepie</h2>
        <br/>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{title}" th:placeholder="Tytuł">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{description}" th:placeholder="Opis">
        </div>
        <div class="form-group">
            <select class="form-control" th:field="*{code}">
                <option th:each="code : ${codes}" th:value="${code}" th:text="${code.getCode()}"/>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" value="Submit">Stwórz</button>
        </div>
    </form>
</div>
</body>
</html>