<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/adminLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj voucher</title>
</head>
<body>
<div class="user-content" layout:fragment="admin-content">
    <h2>Dodawanie Vouchera</h2>
    <br/>
    <form action="# " th:action="@{/admin/add-voucher}" th:object="${voucher}" method="POST"
          style="margin: 0 auto; width: 50%">
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{code}" th:placeholder="Voucher" required>
        </div>
        <div class="form-group">
            <select class="form-control" th:field="*{position.id}">
                <option th:each="position : ${positions}"
                        th:value="${position.id}"
                        th:text="${position.getTitle()}"></option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" th:field="*{max}" th:placeholder="Maks" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" value="Submit">Dodaj</button>
        </div>
        <div class="alert alert-success" th:if="${success}">
            <strong>Udało się!</strong> <span> Dodałeś nowy voucher</span>
        </div>
        <div class="alert alert-danger" th:if="${error}">
            <strong>Ups!</strong> <span th:text="${error}"></span>
        </div>
    </form>
</div>
</body>
</html>