<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel administratora</title>
</head>
<body>
<div class="wrapper" layout:fragment="content">
    <div class="profile-sidebar">
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                Panel administratora
            </div>
            <div class="profile-usertitle-job">
                Nazwa użytkownika
            </div>
        </div>
        </hr>
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a href="/admin">Główna</a>
                </li>
                <li>
                    <a href="/admin/shop-history">Historia zakupów</a>
                </li>
                <li>
                    <a href="/admin/add-shop-position">Stwórz pozycje w sklepie</a>
                </li>
                <li>
                    <a href="#smsMenu" data-toggle="collapse" aria-expanded="true">SMSy</a>
                    <ul class="collapse show" id="smsMenu">
                        <li><a href="/admin/sms-list">Lista smsów</a></li>
                        <li><a href="/admin/add-sms">Dodaj nowy sms</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#voucherMenu" data-toggle="collapse" aria-expanded="true">Vouchery</a>
                    <ul class="collapse show" id="voucherMenu">
                        <li><a href="/admin/voucher-list">Lista voucherów</a></li>
                        <li><a href="/admin/add-voucher">Dodaj nowy voucher</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
    <section layout:fragment="admin-content">
        <!--Admin content-->
    </section>
</div>
</body>
</html>