<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/adminLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista kodów</title>
</head>
<body>
<div class="user-content" layout:fragment="admin-content">
    <h2>Lista SMSów</h2>
    <br/>
    <table id="sms-list" class="table table-striped table-hover"
           cellspacing="0"
           width="100%">

        <thead>
        <tr align="center">
            <th data-field="sms">Kod</th>
            <th data-field="number" data-sortable="true">Numer</th>
            <th data-field="price" data-sortable="true">Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="sms : ${smsList}">
            <td th:text="${sms.getContent()}"/>
            <td th:text="${sms.getNumber()}"/>
            <td th:text="${sms.getPrice()} + ' zł'"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
        $('#sms-list').dataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Polish.json"
            }
        } );
        var table = $('#sms-list').DataTable();
        table.draw();
    } );
</script>