<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/adminLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista voucherów</title>
</head>
<body>
<div class="user-content" layout:fragment="admin-content">
    <h2>Lista voucherów</h2>
    <br/>
    <table id="voucher-list" class="table table-striped table-hover"
           cellspacing="0"
           width="100%">

        <thead>
        <tr align="center">
            <th>Voucher</th>
            <th>Pozycja</th>
            <th>Użyć</th>
            <th>Maksymalnie użyć</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="voucher : ${voucherList}">
            <td th:text="${voucher.getCode()}"></td>
            <td th:text="${voucher.getPosition().getTitle()}"></td>
            <td th:text="${voucher.getPlayers().size()}"></td>
            <td th:text="${voucher.getMax()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
        $('#voucher-list').dataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Polish.json"
            }
        } );
        var table = $('#voucher-list').DataTable();
        table.draw();
    } );
</script>