<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer">
        <div class="container footer-content">
            MyChunk.net | Strzelecki serwer Minecraft!
            <!--TODO: Dodać socialmedia-->
            <!--TODO: Dodać przycisk wylogowania jeśli zalogowany, w przeciwnym wypadku przycisk zaloguj-->
            <!--TODO: Przycisk regulaminu, widok regulaminu-->
        </div>
    </div>
</footer>
</body>
</html>