:root {
    --height-footer: 65px;
    --color-on-dark: #ebebeb;
}

html {
}

body {
    background: #dbdcdc url('/img/shattered.png') repeat;
    font-family: 'Lato', sans-serif;
    color: #6c7a95;
    min-height: 100vh;

    /*for sticky footer*/
    position: relative;
    padding-bottom: 150px;
}

hr {
    margin: 5px 0;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    border-top: 0px solid #a5a5a5;
    background: #ffc766;
    text-align: center;
}

.footer-content {
    margin: 20px 0px;
    color: #4e555b;
    font-size: 15px;
}




#banner {
    height: 200px;
    display: flex;
}

.info-box {
    margin: auto;
    width: 300px;
    height: 100px;
    background: #e7e7e7;
    display: flex;
    /*-webkit-box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.5);*/
    /*-moz-box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.5);*/
}

.info-image{
    background: url(http://via.placeholder.com/100x100);
    width: 100px;
}

.info-content{
    width: 200px;
    text-align: center;
    padding: 10px;
}

p.info-data{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}



.navbar-brand{
    font-family: 'Russo One', sans-serif;
}

.nav-custom {
    background: #ffc766;
    color: #fff;
    border-bottom: 3px solid #deae59;
    -webkit-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.30);
}

.navbar-collapse ul li:hover{
    background: #deae59;
}

.nav-account{
    cursor: pointer;
}


.cont-view {
    background: #ebebeb;
    padding: 0;
    height: 100%;
    width: auto;
}

.content {
    padding: 15px;
}

.user-content {
    padding: 15px;
    width: 100%;
}

.content-head {
    height: 50px;
    width: 100%;
    background: #e7e7e7;
    border-bottom: 3px solid #dddddd;
    padding: 5px 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
}

.profile-head {
    height: 70px;
    width: 100%;
    background: #212529;
    padding: 10px 20px;
    color: var(--color-on-dark);
}

h2.nickname {
    margin: 3px 15px 6px;
    float: left;
}

.profile-wrapper {
    background: #f8f9fa;
    height: 100%;
    width: 100%;
}

.profile-content {
    padding: 10px 15px;
    height: 100%;
    width: 100%;
}

.profile-content.next-to-eo {
    display: flex;
}

.profile-content-segment {
    margin: 5px 10px;
    float: left;
}

.profile-row {
    border-bottom: 1px solid #dbddde;
    background: #f4f5f5;
    height: 60px;
}

img.stat-img {
    float: left;
    margin: 10px;
    height: 40px;
    width: 40px;
}

p.stat-name, p.stat-name-extended {
    font-size: 20px;
    width: 100px;
    margin: 15px 5px;
    float: left;
}

p.stat-name-extended {
    width: 175px;
}

p.stat-value, p.stat-value-extended {
    text-align: center;
    background: #f2f2f2;
    padding: 15px 0px;
    font-size: 20px;
    width: 75px;
    height: 59px;
    margin: 0px;
    float: left;
}

p.stat-value-extended {
    width: 100px;
}


.wrapper {
    display: flex;
    height: 1000px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.shop-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.shop-position {
    background: -webkit-linear-gradient(45deg, rgba(134, 212, 234, 1) 0%, rgba(102, 198, 225, 1) 41%, rgba(54, 177, 211, 1) 100%);
    color: #f2f2f2;
    border-radius: 3px;
    height: 160px;
    width: 45%;
    padding: 10px 20px;
    margin: 5px auto;
    float: left;
}

@media (max-width: 800px) {
    .shop-position {
        width: 30%;
    }
}

.shop-content {
    display: flex;
    height: 100px;
}

.shop-image {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.shop-text {
    width: 100%;
}

p.shop-title {
    font-weight: bold;
    font-size: 15px;
}

p.shop-desc {
    font-size: 12px;
}

.shop-info {
    float: right;
}

.content-wrapper {
    background: #fff;
    color: #67707c;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}



#pos-img-wrap {
    width: 400px;
    height: 230px;
    margin: 0 0 0 -20px;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
    overflow: hidden;
}


.skew-image {
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.pos-detail-image{
    background: url(http://via.placeholder.com/400x230);
}


.position-content{
    width: 100%;
    padding: 10px 20px;
}

.position-text {
    width: 100%;
}

.position-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.position-header {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.position-description {
    font-size: 12px;
    font-weight: 300;
    margin: 2px;
}

.position-button {
    float: right;
}

.position-purchasers-wrapper{

}

.sms-flex {
    display: flex;
}

.sms-info {
    padding: 10px;
    margin-right: 10px;
    height: 100%;
    width: 50%;
}

.sms-form {
    padding: 10px;
    height: 100%;
    width: 50%;
}

.sms-var {
    font-weight: 700;
}

p.no-margin {
    margin: 0px;
}

button.right-btn {
    color: #e7e7e7;
    float: right;
}

a:link.link {
    font-weight: 700;
}

a:visited.link {
    font-weight: 700;
}


.scroll-table > tbody  {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

#shop-button{
    white-space: normal;
}

#shop-button small {
    display: block;
}

.card{
    min-width: 30%;
    max-width: 30%;
    margin: 10px auto !important;
}






/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    width: 300px;
}


.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}


.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    /*border-bottom: 1px solid #f0f4f7;*/
    width: 100%;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    border-left: 2px solid #5b9bd1;
    padding-left: 10px;
}

