:root {
    --height-footer: 65px;
    --color-on-dark: #ebebeb;
}

html {
}

body {
    background: #dbdcdc url('/img/shattered.png') repeat;
    font-family: 'Lato', sans-serif;
    color: #6c7a95;
}

hr {

    margin: 5px 0;
}

#banner {
    width: 100%;
    height: 200px;
    display: flex;
}

.info-box {
    margin: auto;
    padding: 5px;
    width: 300px;
    height: 100px;
    -webkit-box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 10px -1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
    .info-box {
        width: 200px;
    }
}

.info-box.default {
    background: #e3e3e3;
}

.info-box.red {
    background: #df6b78;
}

.info-box.blue {
    background: #2bb5d9;
}

.info-box.green {
    background: #67c797;
}

.nav-custom {
    background: #3498db;
    color: #fff;
    border-bottom: 3px solid #277db4;
    -webkit-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 7px 23px -4px rgba(0, 0, 0, 0.30);

}

.cont-view {
    background: #ebebeb;
    padding: 0;
    height: 100%;
    width: auto;
}

.content {
    padding: 15px;
}

.user-content {
    padding: 15px;
    width: 100%;
}

.content-head {
    height: 50px;
    width: 100%;
    background: #e7e7e7;
    border-bottom: 3px solid #dddddd;
    padding: 5px 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
}

.profile-head {
    height: 70px;
    width: 100%;
    background: #212529;
    padding: 10px 20px;
    color: var(--color-on-dark);
}

h2.nickname {
    margin: 3px 15px 6px;
    float: left;
}

.profile-wrapper {
    background: #f8f9fa;
    height: 100%;
    width: 100%;
}

.profile-content {
    padding: 10px 15px;
    height: 100%;
    width: 100%;
}

.profile-content.next-to-eo {
    display: flex;
}

.profile-content-segment {
    margin: 5px 10px;
    float: left;
}

.profile-row {
    border-bottom: 1px solid #dbddde;
    background: #f4f5f5;
    height: 60px;
}

img.stat-img {
    float: left;
    margin: 10px;
    height: 40px;
    width: 40px;
}

p.stat-name, p.stat-name-extended {
    font-size: 20px;
    width: 100px;
    margin: 15px 5px;
    float: left;
}

p.stat-name-extended {
    width: 175px;
}

p.stat-value, p.stat-value-extended {
    text-align: center;
    background: #f2f2f2;
    padding: 15px 0px;
    font-size: 20px;
    width: 75px;
    height: 59px;
    margin: 0px;
    float: left;
}

p.stat-value-extended {
    width: 100px;
}

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: var(--height-footer);
    background-color: #202326;
}

.footer-content {
    margin: 20px 0px;
    color: #b9bbbe;
    font-size: 15px;
}

.wrapper {
    display: flex;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #23282c;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #23282c;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #f2f2f2;
}

#sidebar ul li a:hover {
    color: #23282c;
    background: #f2f2f2;
}

#sidebar ul li.active > a {
    color: #23282c;
    background: #f2f2f2;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #32373b;
}

.shop-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.shop-position {
    background: -webkit-linear-gradient(45deg, rgba(134, 212, 234, 1) 0%, rgba(102, 198, 225, 1) 41%, rgba(54, 177, 211, 1) 100%);
    color: #f2f2f2;
    border-radius: 3px;
    height: 160px;
    width: 45%;
    padding: 10px 20px;
    margin: 5px auto;
    float: left;
}

@media (max-width: 800px) {
    .shop-position {
        width: 30%;
    }
}

.shop-content {
    display: flex;
    height: 100px;
}

.shop-image {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.shop-text {
    width: 100%;
}

p.shop-title {
    font-weight: bold;
    font-size: 15px;
}

p.shop-desc {
    font-size: 12px;
}

.shop-info {
    float: right;
}

.content-wrapper {
    background: #fff;
    color: #67707c;
    height: 100%;
    padding: 5px 20px;
    margin: 5px 0;
    border-radius: 5px;
}

.position-content {
    display: flex;
}

.position-icon {
    height: 100%;
    width: 150px;
}

img.position {
    height: 150px;
    width: 150px;
}

.position-text {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

.position-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.position-header {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.position-description {
    font-size: 12px;
    font-weight: 300;
    margin: 2px;
}

.position-payments {
    text-align: right;
    height: 50px;
    width: 100%;
}

.sms-flex {
    display: flex;
}

.sms-info {
    padding: 10px;
    margin-right: 10px;
    height: 100%;
    width: 50%;
}

.sms-form {
    padding: 10px;
    height: 100%;
    width: 50%;
}

.sms-var {
    font-weight: 700;
}

p.no-margin {
    margin: 0px;
}

button.back-btn {
    color: #6c7a95;
    float: right;
}

a:link.link {
    font-weight: 700;
}

a:visited.link {
    font-weight: 700;
}


.scroll-table > tbody  {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}