<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../static/css/style.css" />
    <title >My website</title>
</head>
<body>
<header th:replace="fragments/header :: header"/>

<section layout:fragment="content">
    <p>Your page content goes here</p>
</section>
<footer th:replace="fragments/footer :: footer" />
</body>
</html>