<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Strzelecki serwer Minecraft</title>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <span th:text="${onlinePlayers}"></span> / <span th:text="${maxPlayers}"></span>
        <p th:text="${motd}"></p>
        <div sec:authorize="isAuthenticated()">Jestes zalogowany</div>
        <span sec:authentication="name"></span> |
        Roles: <span sec:authentication="principal.authorities"></span>
    </div>
</section>
</body>
</html>