<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout">
<head>
    <title>Strzelecki serwer Minecraft</title>
</head>
<body>
<section class="content" layout:fragment="content">
    <div class="main-wrapper">
        <div class="main-section">
            <div class="main-title">
                Historia oraz opis
            </div>
            <div class="main-text">
                <p>Pomysł na serwer Strzelecki zrodził się w 2012 roku i został zrealizowany na gotowych pluginach,
                    które
                    sprawiły że bardzo szybko zyskał na popularności.
                    Teraz przychodzimy do was z zupełnie rozbudowaną formą rozgrywki, którą mogliście poznać przed
                    laty.</p>

                <p> Do twojej dyspozycji oddajemy szeroki zakres umiejętności łuku, czy jak ktoś woli typów strzał,
                    dzięki
                    którym
                    będziesz mógł szybciej i efektywniej zabijać swoich przeciwników.
                    Za każde zabójstwo lub asyste dostaniesz nie tylko wzrost w rankingu ale również wirtualne tokeny,
                    czyli
                    serwerową walutę, która pozwoli ci zakupić kolejne umiejętności bądź ulepszyć
                    ich atrybuty. Dodatkowo wydając tokeny jesteś w stanie kupować lepsze uzbrojenie, a następnie
                    ulepszać
                    dowolną
                    odporność.</p>

                <p> Po stronie strony internetowej możesz zakupywać różne zestawy widoczne na liście pozycji w zakładce
                    "Sklep",
                    realizować specjalne kody (Vouchery) oraz przeglądać publiczny ranking lub statystyki graczy.</p>
            </div>
        </div>
        <div class="main-section">
            <div class="main-title">
                Zapowiedź
            </div>
            <div class="child-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zPcFsUlJuNg" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="main-section">
            <div class="main-title">
                Administracja
            </div>
            <div class="child-center">
                <div class="face-box">
                    <img src="https://minotar.net/avatar/treekt/100">
                    <div class="title">Treekt</div>
                </div>
                <div class="face-box">
                    <img src="https://minotar.net/avatar/Mieszk0PL/100">
                    <div class="title">Mieszk0PL</div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>