<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ranking</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="content-head">
        <span>Ranking</span>
    </div>
    <table class="table table-striped table-dark table-hover"
           cellspacing="0"
           width="100%">
        <thead>
        <tr align="center">
            <th></th>
            <th data-field="nickname">Nick</th>
            <th>K/D</th>
            <th data-field="kills" data-sortable="true">Zabójstwa</th>
            <th data-field="deaths" data-sortable="true">Śmierci</th>
            <th data-field="assists" data-sortable="true">Asysty</th>
            <th data-field="tokens" data-sortable="true">Tokeny</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="user : ${users}">
            <td>
                <a th:href="@{'/profil/'+ ${user.nickname}}">
                    <img th:src="@{'https://crafatar.com/avatars/' + ${user.nickname} + '?size=35'}"/>
                </a>
            </td>
            <td>
                <a th:text="${user.nickname}" th:href="@{'/profil/'+ ${user.nickname}}"/>
            </td>
            <td th:text="${user.getKD()}">
            </td>
            <td th:text="${user.kills}"/>
            <td th:text="${user.deaths}"/>
            <td th:text="${user.assists}"/>
            <td th:text="${user.tokens}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>