<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ranking</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="content-head">
        <span>Ranking</span>
    </div>
    <table id="rank" class="table table-striped table-hover"
           cellspacing="0"
           width="100%">
        <thead>
        <tr align="center">
            <th data-sortable="false"></th>
            <th data-sortable="false">Nick</th>
            <th>K/D</th>
            <th>Zabójstwa</th>
            <th>Śmierci</th>
            <th>Asysty</th>
            <th>Tokeny</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="player : ${players}">
            <td>
                <a th:href="@{'/profil/'+ ${player.nickname}}">
                    <img th:src="@{'https://visage.surgeplay.com/face/30/' + ${player.nickname}}"/>
                </a>
            </td>
            <td>
                <a th:text="${player.nickname}" th:href="@{'/profil/'+ ${player.nickname}}"/>
            </td>
            <td th:text="${player.getKD()}">
            </td>
            <td th:text="${player.kills}"/>
            <td th:text="${player.deaths}"/>
            <td th:text="${player.assists}"/>
            <td th:text="${player.tokens}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
        $('#rank').dataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Polish.json"
            }
        } );
        var table = $('#rank').DataTable();
        table
            .order( [ 2, 'desc' ])
            .draw();
    } );

</script>
