<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <title>Ranking</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="content-head">
        <span>Ranking</span>
    </div>
    <table id="rank" class="table table-striped table-dark table-hover"
           cellspacing="0"
           width="100%">
        <thead>
        <tr align="center">
            <th></th>
            <th data-field="nickname">Nick</th>
            <th>K/D</th>
            <th data-field="kills" data-sortable="true">Zabójstwa</th>
            <th data-field="deaths" data-sortable="true">Śmierci</th>
            <th data-field="assists" data-sortable="true">Asysty</th>
            <th data-field="tokens" data-sortable="true">Tokeny</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="player : ${players}">
            <td>
                <a th:href="@{'/profil/'+ ${player.nickname}}">
                    <img th:src="@{'https://crafatar.com/avatars/' + ${player.nickname} + '?size=35'}"/>
                </a>
            </td>
            <td>
                <a th:text="${player.nickname}" th:href="@{'/profil/'+ ${player.nickname}}"/>
            </td>
            <td th:text="${player.getKD()}">
            </td>
            <td th:text="${player.kills}"/>
            <td th:text="${player.deaths}"/>
            <td th:text="${player.assists}"/>
            <td th:text="${player.tokens}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script src="//cdn.datatables.net/plug-ins/1.10.16/i18n/Polish.json"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#rank').dataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Polish.json"
            }
        } );
        var table = $('#rank').DataTable();
        table
            .order( [ 2, 'asc' ])
            .draw();
    } );

</script>
