<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Regulamin</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="content-head">
        <span>Regulamin</span>
    </div>
    <div class="rules">
        <div class="rules-title">
            Twórca
        </div>
        <div class="rules-text">
            Właścicielem serwera Minecraft (MyChunk) oraz niniejszej strony internetowej jest Łukasz Trzciński, w sieci znany jako (treekt).
        </div>
        <div class="rules-title">
            Użytkownicy
        </div>
        <div class="rules-text">
            Istnieje możliwość rejestracji i logowania, jednakże konta założone na stronie internetowej nie są w żaden sposób złączone z kontami na serwerze Minecraft.
            Po zalogowaniu, w panelu użytkownika jest widoczna "Historia zakupów" dzięki której można przejrzeć zakupione pozycje w sklepie.
            Każdy użytkownik może kupować pozycje w sklepie na dowolnego istniejącego gracza na serwerze MyChunk.
        </div>
        <div class="rules-title">
            Sklep oraz płatności
        </div>
        <div class="rules-text">
            W zakładce "Sklep" dostępne są zestawy elektronicznych przedmiotów lub przywilejów, które klient (gracz) wykupuje, otrzymując je bezpośrednio na serwerze Minecraft.
            Płatności obsługuje serwis HomePay, który odpowiada za poprawność odebrania SMS i wysłania kodu zwrotnego.
            Za wszelkie błędy na etapie realizacji oferty ze sklepu na serwerze Minecraft odpowiada właściciel serwisu.
            Aby zrealizować kod zwrotny z SMS i otrzymać wybrany zestaw należy być zalogowanym na stronie internetowej.
        </div>
        <div class="rules-title">
            Serwer Minecraft
        </div>
        <div class="rules-text">
            Porządku i poprawności działania serwera pilnuje specjalnie powołany zespół administracji.
            Korzystanie z niedozwolonych wspomagaczy, które wpływają na rozgrywkę innych graczy lub destabilizują poprawność działania serwera, będzie karane pernamentną blokadą konta.
            Za wykorzystywanie i niezgłaszanie istniejących błędów serwera, będą wyciągane konsekwencję wobec gracza. Natomiast informowanie o tego typu możliwościach zostanie wynagrodzone.
        </div>
    </div>
</div>
</body>
</html>