<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Regulamin</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="content-head">
        <span>Regulamin</span>
    </div>
    <div class="rules">
        <div class="rules-title">
            MyChunk
        </div>
        <div class="rules-text">
            Text
        </div>

        <div class="rules-title">
            Sklep
        </div>
        <div class="rules-text">
            Text
        </div>

        <div class="rules-title">
            Serwer
        </div>
        <div class="rules-text">
            Text
        </div>
    </div>
</div>
</body>
</html>