<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css"  href="/resources/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title >My website</title>
</head>
<body>
<header>
    <h1>New dialect example</h1>
    <button type="button" class="btn btn-success">Success</button>
</header>
<section layout:fragment="content">
    <p>Your page content goes here</p>
</section>
<footer th:replace="fragments/footer :: footer" />
</body>
</html>