<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep</title>
</head>
<body>
<div class="content shop-wrapper" layout:fragment="content">
    <div class="content-head">
        <span>Sklep</span>
    </div>
    <div class="card-group" style="width: 100%">
        <div class="card" th:each="position : ${positions}">
            <img class="card-img-top" src="http://via.placeholder.com/300x200">
            <div class="card-body">
                <h4 class="card-title" th:text="${position.getTitle()}"></h4>
                <p class="card-text" th:text="${position.getShortDescription()}"></p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-success btn-block" th:onclick="'window.location.href = \'' + ${'/shop/' + position.getId()} + '\''">Dowiedz się więcej</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>