<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep</title>
</head>
<body>
<div class="content shop-wrapper" layout:fragment="content">
    <div class="content-head">
        <span>Sklep</span>
    </div>
    <div class="shop-position" th:each="position : ${positions}">
        <div class="shop-content">
            <img class="shop-image" th:src="@{'/img/icons/shop/' + ${position.getImage()}}">
            <div class="shop-text">
                <p class="shop-title" th:text="${position.getTitle()}"></p>
                <p class="shop-desc" th:text="${position.getShortDescription()}"></p>
            </div>
        </div>
        <div class="shop-info">
            <button type="button" class="btn btn-warning" th:onclick="'window.location.href = \'' + ${'/shop/' + position.getId()} + '\''">Więcej</button>

        </div>
    </div>
</div>
</body>
</html>