<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="content-head">
        <span>Informacje szczegółowe o ofercie</span>
    </div>
    <div class="content-wrapper">
        <div class="position-content">
            <div class="position-icon">
                <img class="position" th:src="@{'/img/icons/shop/' + ${position.getImage()}}">
            </div>
            <div class="position-text">
                <p class="position-title" th:text="${position.getTitle()}"></p>
                <hr>
                <p class="position-header">Krótki opis</p>
                <p class="position-description">Opis tadam</p>
                <p class="position-header">Szczegółowy opis</p>
                <p class="position-description">Opis costam</p>
            </div>
        </div>
        <div class="position-payments">
            <button type="button" class="btn btn-primary" th:text="'SMS ' +  ${position.getCode().getPrice()} + ' zł'" th:onclick="'window.location.href = \'/shop/' + ${position.getId()} + '/sms\''"></button>
            <button type="button" class="btn btn-success" th:onclick="'window.location.href = \'' + ${'/shop/' + position.id} + '\''">Przelew</button>
        </div>
    </div>
</div>
</body>
</html>

