<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="defaultLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sklep</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="content-head">
        <span>Informacje szczegółowe o ofercie</span>
    </div>
    <div class="content-wrapper">
        <div id="pos-img-wrap">
            <div class="skew-image pos-detail-image"></div>
        </div>
        <div class="position-content">
            <div class="position-text">
                <p class="position-title" th:text="${position.getTitle()}"></p>
                <hr>
                <p class="position-header">Krótki opis</p>
                <p class="position-description" th:text="${position.getShortDescription()}"></p>
                <p class="position-header">Szczegółowy opis</p>
                <p class="position-description" th:text="${position.getDescription()}"></p>
            </div>
            <button type="button" class="btn btn-primary position-button" th:onclick="'window.location.href = \'/shop/' + ${position.getId()} + '/sms\''">
                <b>SMS</b>
                <small th:text="${position.getSms().getPrice() + ' zł'}" ></small>
            </button>
        </div>
        <!--TODO: Dodać liste osób które kupiły ostatnio tę pozycje-->
    </div>
</div>
</body>
</html>

